ADMIN_EMAIL=admin
ADMIN_PASSWORD_HASH_BASE64=JDJhJDEwJGJmdDJhVm5BelBKVC9ZWks1QjFtbC5UelVLZkxTeUVMQ0dnNDVnSzZkUlM3ZVFIT0l0QS5h
NEXTAUTH_SECRET=replace-with-a-strong-secret
NEXTAUTH_URL=http://localhost:3000
